{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Our Team
{% endblock %}
{% block content %}

<section class="page_banner_top_overlay pt-5">
    <div class="container pt-5 mt-5">
      <h1 style="font-family:  'Montserrat', sans-serif; color:white; font-size:40px; font-width:600px;">Teams</h1>
      <h6 style="color:white;"><a href="#" class="text-white">Home</a> / <b>Our Teams</b></h6>
    </div>
  </section>

  <section class="about">
    <div class="container">
      
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-12 my-5">
          <h2 class=" text-center" style="font-family:times-new-roman;">{{about.title}} </h2>
          <hr class="w-25 m-auto"/> 
          <p class="py-2" style="font-family: 'Poppins', sans-serif;
          font-size: 20px;
          line-height: 1.7;
          color: #333;
          font-weight: 400;">
           {{about.discriptions|safe|truncatechars:600}}
           <a class="text-danger" style="text-decoration:none;" href="{% url 'about' %}">Read More</a>
      
          </p>
       
          
         </div>
         <div class="col-sm-12 col-md-6 col-lg-6 col-12 m-auto text-center">
           <img  class="img-fluid img-thumnails  bounce-image d-block w-100 d-none d-sm-block" src="{{about.image.url}}"/>
      
         </div>
         </div>
    </div>
  </section>



      <!-- our team section-->
  <section class="team about section ourteam">
    <div class="container pt-2">
      
        <center>
          <h2 style="font-family:times-new-roman;">
            Our <span class="text-danger"> Team</span> Member
            <hr class="w-25 m-auto"/> 
          </h2>
        </center>
        <div class="row pt-4">
            {% for team in team_members %}
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="team-item">
                    <figure>
                        <img src="{{team.image.url}}" class="img-fluid mx-auto d-block max-width-100" style="height:300px;"  alt="">
                        <figcaption>
                            <div class="info">
                                <h3 class="text-white">{{team.full_name}}</h3>
                                <p>{{team.position}}</p>
                            </div>
                            <div class="social">
                                {% if team.instagram_url %}
                                <a href=" team.instagram_url " target="_blank" class="twitter" data-abc="true"><i class="bi bi-instagram"></i></a>
                                {% endif %}

                                {% if team.facebook_url %}
                                <a href="{{team.facebook_url}}" target="_blank" class="facebook" data-abc="true"><i class="bi bi-facebook"></i></a>
                                {% endif %}

                                {% if team.linkedin_url %}
                                <a href="{{team.linkedin_url}}" target="_blank" class="google-plus" data-abc="true"><i class="bi bi-linkedin"></i></a>
                                {% endif %}
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            {% endfor %}
           
        </div>
    </div>
</section>
<!-- end team section-->
{% endblock %}